<!-- OLD FOOTER -->
<% unless params[:inline] %>
   <footer class="footer">
     <div>
       <p>&copy; 2014 by the Rector and Visitors of the University of Virginia</p>
       <p>Maintained by SHANTI at the University of Virginia  |  <a href="http://shanti.virginia.edu/wordpress/?page_id=560">Contact Us</a></p>
     </div><!--END FOOTER-->
   </footer><!--END FOOTER-WRAPPER-->
<% end %>
<!-- <%= `hostname` %> -->
<!--[if ie]></div><![endif]-->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-12330971-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
  </body>
</html>