<!-- OLD FOOTER -->
<% unless params[:inline] %>
   <!-- Footer -->
   <footer class="footer">
     <div>
       <p>&copy; Copyright 2016</p>
       <div class="region region-footer">
		<div id="block-system-powered-by" class="block block-system">
			<div class="content">
				<span>Maintained by SHANTI at the University of Virginia</span>
			</div>
		</div>
       </div>
     </div><!--END FOOTER-->
   </footer><!--END FOOTER-WRAPPER-->
<% end %>
<!-- <%= `hostname` %> -->
<!--[if ie]></div><![endif]-->
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GRMG80Z2F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5GRMG80Z2F');
    </script>
  </body>
</html>