<!-- OLD FOOTER -->
<% unless params[:inline] %>
   <!-- Footer -->
   <footer class="footer">
     <div>
       <p>&copy; Copyright 2016</p>
       <div class="region region-footer">
		<div id="block-system-powered-by" class="block block-system">
			<div class="content">
				<span>Maintained by SHANTI at the University of Virginia</span>
			</div>
		</div>
       </div>
     </div><!--END FOOTER-->
   </footer><!--END FOOTER-WRAPPER-->
<% end %>
  </body>
</html>