<!-- OLD FOOTER -->
<% unless params[:inline] %>
   <!-- Footer -->
   <footer class="footer">
     <div>
       <p>&copy; Copyright 2016</p>
       <div class="region region-footer">
		<div id="block-system-powered-by" class="block block-system">
			<div class="content">
				<span>Maintained by SHANTI at the University of Virginia</span>
			</div>
		</div>
       </div>
     </div><!--END FOOTER-->
   </footer><!--END FOOTER-WRAPPER-->
<% end %>
<!-- <%= `hostname` %> -->
<!--[if ie]></div><![endif]-->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-12330971-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
  </body>
</html>