/**
* Mandala Sarvaka - Development
*
* version 1.x - shanti-search.css
* ------------------------------------------
* University of Virginia / SHANTI MANDALA
* ------------------------------------------
*
*/

/* clearing default styles (extruder default in utils.css) */
.extruder, .extruder,.extruder .extruder-content, .extruder .flap .flapLabel, .extruder .text, .extruder .voice.hover, .extruder .voice.sel, .extruder .settingsBtn, .extruder .optionsPanel,.optionsPanel .panelVoice a:hover {
  overflow: visible;
  background-image: none;
  background: transparent;
}

.extruder.open .extruder-content, .extruder.open .extruder-content,.extruder .flap,.extruder .voice,.extruder .text,.optionsPanel .panelVoice a {
  box-shadow: none;
  text-transform: none;
}

.extruder .extruder-content,.extruder .panel-default .panel-heading,.extruder .panel-heading,.extruder .panel-group,.extruder .panel-group .panel,.extruder .panel-default>.panel-heading {
  border: none;
}

/**
* ---------------
* Search Panel
* ---------------
*/
.extruder {
  padding: 0;
  background: transparent !important;
}

.ext_wrapper {
  height: auto;
  padding: 0;
}

.extruder .extruder-content {
  background: transparent !important;
  border: none;
  padding: 0;
  width: 100%;
  box-shadow: 0 0 5px hsla(0, 0.0000%, 60.0000%, 0.7500);
  border-collapse: separate;
}

.extruder.isOpened .extruder-content {
  border-right-width: 12px;
  background: transparent !important;
}


#search-flyout.extruder {
  top: 0;
}

#search-flyout.extruder {
  margin-top: 8px;
  position: absolute;
  z-index: 300;
}

#search-flyout .ext_wrapper {
  height: auto;
  padding: 0;
}

#search-flyout.extruder .extruder-content {
  background: transparent !important;
 /*overflow:visible !important;*/
  border: 7px solid #fff;
  border-right-width: 0px;
  padding: 0;
  width: 100%;
  box-shadow: -4px 4px 5px hsla(0, 0.0000%, 60.0000%, 0.2000);
  border-collapse: separate;
}

#search-flyout.extruder.isOpened .extruder-content {
  border-right-width: 12px;
}

#search-flyout.extruder .text {
  border: none;
  padding: 0;
  text-shadow: none;
  background: #f8f8f8;
  color: #333;
  /* default panel container width is set */
  width: 277px;
  min-width: 277px !important;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}

/**
* BEGIN extruder button for opening-closing
*/
.extruder .flap,
.extruder.isOpened .flap,
.extruder .flap .flapLabel,
.extruder .flap.on-flap .flapLabel,
.extruder.isOpened .flap.on-flap .flapLabel,
.extruder .flap>span,
.extruder .flap.on-flap>span,
.extruder .flap.on-hover>span,
.extruder .flap.on-hover.on-flap>span {
  width: 0;
  padding: 0;
  border: none;
  background: transparent;
}
/**
* Note: object.flip_label has to do with a built-in extruder
* tab label feature of extruder library we are not using
*/
object.flip_label {
  display: none;
}

.extruder.open-collections {
  margin-top: 280px;
}

/* drag-width handle for extruder */
.text.ui-resizable,
.isOpened .text.ui-resizable {
  /* Important to keep the right edge pinned while expanding width */
  position: static;
}

.ui-resizable-handle.ui-resizable-w {
  cursor: col-resize;
  position: absolute;
  left: 1px;
  top: 10px;
  z-index: 290;
  width: 6px;
  height: 97%;
}

.ui-resizable-handle.ui-resizable-w:active {
  background: #fafafa;
}

/**
* top banner search button inline styles are loaded via main.js with icon markup
*/
#search-flyout.extruder .flap {
  background: #fff;
  height: 53px;
  width: 50px;
  padding: 7px 0 7px 7px;
  margin: 0 0 0 -12px;
  cursor: pointer;
  display: block;
  border-top-left-radius: 44px;
  border-bottom-left-radius: 44px;
  box-shadow: -4px 0 4px rgba(0,0,0, 0.1250);
  border-collapse: separate;
}

#search-flyout.extruder .flap.on-flap {
  border-collapse: separate;
}

#search-flyout.extruder .flap .flapLabel,
#search-flyout.extruder .flap.on-flap .flapLabel {
  background: #444;
  height: 39px;
  width: 43px !important;
  padding: 17px 38px 17px 0;
  margin: 0;
  display: block;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-collapse: separate;
}

#search-flyout.extruder.isOpened .flap {
  width: 48px;
  margin: 0 0 0 -8px;
}

#search-flyout.extruder.isOpened .flap.on-flap .flapLabel {
  width: 30px !important;
}/* on-flap is opened state */

/*----- css for the flap is inserted inline, see js/main ---*/
#search-flyout.extruder .flap>span,
#search-flyout.extruder .flap.on-flap>span {
  color: #ccc;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#search-flyout.extruder .flap.on-hover>span,
#search-flyout.extruder .flap.on-hover.on-flap>span {
  color: #fff;
  background: #333;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#search-flyout.extruder .flap>span .icon {
  font-size: 2.38rem;
  position: absolute;
  left: 17px;
  top: 16px;
  z-index: 10;
}

#search-flyout.extruder.isOpened .flap.on-flap>span .icon {
  color: #888;
  font-size: 3.12rem;
  left: 13px;
  top: 11px;
}

#search-flyout.extruder.isOpened .flap.on-hover>span .icon,
#search-flyout.extruder.isOpened .flap.on-hover.on-flap>span .icon {
  color: #fff;
  background: transparent;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#search-flyout.extruder.isOpened .flap.on-flap>span .icon.shanticon-search::before {
  content: '\e610';
}

/**
*** END - Sliding Panel */






/**
* --------------------------------------
* BEGIN  Search / Input & View
* --------------------------------------
*/
.input-section {
  /* padding-top:1rem;  coordinate with contextual-links-region below */
  border: 1px solid #e0e0e0;
  display: block;
  width: 100%;
}

.input-section .contextual-links-region{
  /*margin-top:-1rem;*/
}

.input-section .input-group input.form-control:first-child {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-clip: padding-box;
}

.input-section .input-group {
  padding: 0 12px;
  display: block;
  width: 100%;
  background: #f8f8f8;
  float:left;
}

.input-section .input-group input.form-control {
  color: #777;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-clip: padding-box;
  font-size: 1.06em;
  height: 35px; /* coordinate with button height below */
  line-height: 1.44em;
  margin: 14px 0 0;
  padding: 2px 75px 0 32px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  vertical-align: middle;
  box-shadow: 0 2px 5px #eee inset;
  border-collapse: separate; /* fix for ie9 box-shadow */
  background: #fff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}

.input-section .input-group input.form-control:hover {
  border: 1px solid #ccc;
  color: #777;
}

.input-section .input-group input.form-control:focus {
  border: 1px solid #9097d3;
  box-shadow: 0 0 4px #949bd8;
  border-collapse: separate;
}

.input-section .input-group .input-group-btn {
  width: 45px !important;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 13px;
  z-index: 10;
  background: transparent;
  padding: 0;
  margin: 0;
}

/*--- button ---*/
.input-section .input-group .btn.btn-default {
  display: block;
   /* 2px less input-group-btn above */
  height: 33px;
  color: #aaa;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-width: 0 0 0 1px;
  border-radius: 0;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  background-clip: padding-box;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -moz-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}

.input-section .input-group .btn.btn-default:hover {
  background: #eee;
  color: #777;
}

.input-section .input-group .btn.btn-default:active,
.input-section .input-group .btn-default.active {
  background: transparent;
  border-color: #fff;
}

.input-section .input-group .btn.btn-default .icon {
  font-family: 'Glyphicons Halflings' !important;
  background: transparent;
}

.input-section .input-group .btn.btn-default .icon::before {
  content: '\e080';
  position: relative;
  right: 0.25rem;
  top: -0.56rem;
}

.input-section .input-group .btn.btn-default:active .icon,
.input-section .input-group .btn.btn-default.active .icon {
  color: #777;
}




/**
* BEGIN Search Reset
*/
.input-section .searchreset,
.kmap-typeahead-picker .searchreset,
.kmap-tree-picker .searchreset {
  background: transparent;
  background-image: none;
  background-clip: padding-box;
  box-shadow: none;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
}

.input-section .searchreset,
.kmap-tree-picker .searchreset {
  position: absolute;
  right: 5rem;
  top: 0.9rem;
  z-index: 10;
}

.input-section .kmap-typeahead-picker .searchreset {
  position: absolute;
  right: 2.4rem;
  top: 2.75rem;
  z-index: 10;
}

.input-section .searchreset:hover,.input-section .searchreset:active,
.kmap-typeahead-picker .searchreset:hover,.kmap-typeahead-picker .searchreset:active,
.kmap-tree-picker .searchreset:hover,.kmap-tree-picker .searchreset:active {
  color: transparent;
  background-image: none;
  background: transparent;
  border: none;
}

.input-section .searchreset:active, .input-section .searchreset.active,
.kmap-typeahead-picker .searchreset:active,.kmap-typeahead-picker .searchreset.active,
.kmap-tree-picker .searchreset:active,.kmap-tree-picker .searchreset.active {
  background: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
}

.input-section .searchreset .icon,
.kmap-typeahead-picker .searchreset .icon,
.kmap-tree-picker .searchreset .icon {
  background: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -0.3rem;
  left: 0.1rem;
  width: 2.25rem;
  height: 2.25rem;
}

.input-section .searchreset .icon::before,.input-section .searchreset .icon::after,
.kmap-typeahead-picker .searchreset .icon::before,.kmap-typeahead-picker .searchreset .icon::after,
.kmap-tree-picker .searchreset .icon::before,.kmap-tree-picker .searchreset .icon::after {
  background: #aaa;
  content: '';
  position: absolute;
  top: 1.1rem;
  left: 0.3rem;
  width: 1.7rem;
  height: 1px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-section .searchreset .icon::after,
.kmap-typeahead-picker .searchreset .icon::after,
.kmap-tree-picker .searchreset .icon::after{
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.input-section .searchreset:hover .icon, .input-section .searchreset:active .icon,
.kmap-typeahead-picker .searchreset:hover .icon,.kmap-typeahead-picker .searchreset:active .icon,
.kmap-tree-picker .searchreset:hover .icon,.kmap-tree-picker .searchreset:active .icon {
  background: #f5f5f5;
}

.extruder .shanticon-magnify {
    position: absolute;
    left: 2rem;
    top: 1.45rem;
    z-index: 10;
    font-size: 1.18em;
    color: #999;
}

.extruder .kmap-typeahead-picker .shanticon-magnify {
    position: absolute;
    left: 2.5rem;
    top: 2.8rem;
    font-size: 1.12em;
}




/**
* BEGIN Feature Reset
*/
.input-section .feature-group .feature-reset{
  border: none;
  background: transparent;
  background-image: none;
  width: 15px;
  height: 15px;
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 23px;
  right: 11px;
}

.input-section .feature-group .feature-reset .icon {
  font-size: 1.25em;
  color: #c0c0c0;
}

.input-section .feature-group .feature-reset .icon::before {
  font-family: 'shanticon';
  content: '\e610';
}

/* search errors */
.input-section .notification-wrapper {
  padding: 0 15px;
}

.input-section .alert {
  margin: 0 10px 10px;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.input-section .alert-danger {
  color: #dc3c47;
  background-image: none;
  border-radius: 0 9px;
  background-clip: padding-box;
  border: 1px solid #ddd;
  background-color: rgba(255,255,252, 1.0);
}

.input-section .alert-danger .close {
  position: relative;
  top: -0.5rem;
  right: -0.5rem;
}

.input-section .form-group {
  margin-bottom: 2px;
  /*padding-left: 0;*/
}

.input-section .search-group {
  height: 86px;
  position:relative;
}

.input-section .search-group .form-group {
  padding-left: 1em;
}

.input-section .search-group .checkbox-inline:first-child {
  margin-right: 5px;
}

.input-section .search-group .checkbox-inline>div {
  margin-right: 4px;
}

.input-section .search-group .radio-inline:first-child {
  width: auto;
  margin-right: 5px;
}

.input-section .search-group .radio-inline>div {
  margin-right: 4px;
}

.input-section label {
  font-size: 0.88em;
  text-transform: capitalize;
}

.kmaps .input-section .kmap-typeahead-picker > label{
  margin-left:3rem;
}

/**
* Advanced Options
*/
.input-section .advanced-view {
 /*** height:275px;  height can help control cross-browser issues ***/
  /*padding: 0 .9rem;
  background: #f8f8f8;*/
  width: 100%;
  /*margin-right: 0.3rem;*/
}

.input-section .advanced-view .form-group {
  border-top: 1px solid #e0e0e0;
  margin: 0;
}

.input-section .advanced-view .form-group.last {
  padding-bottom: 0;
}

/**
* advanced toggle for search panel */
.input-section .toggle-link {
  /*background: #f8f8f8;
  color: #555 !important;*/
  font-size: 0.88em;
  display: block;
  text-align: right;
  font-weight: bold;
  /*line-height: 0.93em;*/
  margin: 0.5rem 2.5rem 0 0;
  /*padding: 0;
  text-decoration: none;
  font-family: 'droidserif',georgia,palatino,'Palatino Linotype',serif;*/
}

.input-section .toggle-link:hover {
  text-decoration: none !important;
}

.input-section .toggle-link .icon {
  font-family: 'FontAwesome';
}

.input-section .toggle-link .icon::before {
  color: #555 !important;
  font-family: 'FontAwesome';
  content: '\f067';
  font-size: 0.82em;
  margin-right: 0.25em;
}

.input-section .toggle-link:hover .icon::before {
  color: #555 !important;
}

.input-section .feature-group .toggle-link.feature-toggle {
  float: right;
  padding: 0 10px 0 0;
  margin: 0;
  position: relative;
  top: -1px;
}

.input-section .toggle-link.advanced-link {
  /*margin: 0;
  padding: 0;
  position: relative;
  top: 23px;
  left: -12px;
  float: right;*/
  display:none;
}

.page-places .input-section .toggle-link.advanced-link {
  display:block;
  /*top: 2px;
  left: -18px;
  margin-bottom: 8px;*/
}

.input-section .feature-group .toggle-link.show-features .icon::before, /*--- for feature types ---*/
.input-section .toggle-link.show-advanced .icon::before {
  content: '\f068';
}

/***
.input-section .feature-group .toggle-link.feature-toggle{ float:right;padding:0 10px 0 0;margin:0;display:inline;position:relative;top:-1px;}
.input-section .toggle-link.advanced-link{ margin-bottom:4px;}
.input-section .feature-group .toggle-link.show-features i{ content:'\f068';}
.input-section .toggle-link.advanced-link.show-options i.icon::before,
.input-section .feature-group .toggle-link.feature-toggle.show-features i.icon::before{ fcontent:'\f068';}
***/

/*--- iCheck / radio and checkbox style overrides ---*/
.input-section .icheckbox_minimal-red,
.input-section .iradio_minimal-red {
  height: 1.5em;
  margin-right: 4px;
}

.input-section .radio-inline input,
.input-section .radio input[type='radio'],
.input-section .radio-inline input[type='radio'] {
  margin-left: 5px;
}

.input-section .checkbox-inline,
.input-section .radio-inline {
  padding: 0 0 0 3px;
}
/* .input-section .checkbox-inline{ margin-left:1px;} */
.input-section .radio-inline+.radio-inline,
.input-section .checkbox-inline+.checkbox-inline {
  margin-left: 0.06em;
}

.input-section .radio-inline>div,
.input-section .checkbox-inline>div {
  position: relative;
  top: -2px;
  margin: 0;
  padding: 0;
} /* graphic icon */
.input-section label.radio-inline:first-child {
  width: 6.62em;
  min-width: 6.62em;
  max-width: 15em;
  padding-left: 3px;
}


/**
* BEGIN select dropdown
*/
.input-section .bootstrap-select.btn-group:not(.input-group-btn),
.input-section .bootstrap-select.btn-group[class*="span"]{
  margin-top: 1rem;
}

.input-section .bootstrap-select.btn-group li a span {
  background: transparent !important;
  color: #444;
}

.input-section .bootstrap-select.btn-group li a span:hover {
  color: #fff;
}

.input-section .bootstrap-select.btn-group .popover-title .close{
  line-height: .75;
  font-weight:normal;
}

.input-section .bootstrap-select.btn-group .dropdown-menu>li>a .glyphicon:not(.glyphicon-ok){
  font-size: 1.18em;
  position: absolute;
  left: 0.8em;
  top: 0.6rem;
  color: #555;
}

.input-section .bootstrap-select.btn-group .dropdown-menu>li>a .glyphicon:not(.glyphicon-ok) ~ span.text {
  padding-left: 2.8rem;
}

.advanced-view .form-group.advanced-input.select-type {
  padding: 2px 1.2rem 2px;
}

.advanced-view .form-group.advanced-input .form-control {
  line-height: 27px;
  height: 27px;
  padding: 0 1.5rem;
  margin: 2px 0;
  width: 100% !important;
  color: #666;
  background: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 18px;
  background-clip: padding-box;
  overflow: hidden;
  vertical-align: middle;
  box-shadow: 0 2px 5px #eee inset;
  border-collapse: separate;
}

.advanced-view > .form-group:last-of-type .form-group{
  border-top:none;
  padding: 0 !important;
}

.advanced-view .form-group.advanced-input .form-control:hover {
  border: 1px solid #ccc;
  color: #777;
}

.advanced-view .form-group.advanced-input .form-control:focus {
  border: 1px solid #9097d3;
  box-shadow: 0 0 4px #949bd8;
}

.advanced-view .form-group.advanced-input.select-type > span {
  font-size: 0.93em;
  position: relative;
  top: 6px;
  left: 12px;
}

.input-section .kmaps-tt-header .close{
  position: relative;
  top: -1rem;
}
/**
*** END / Input & Advanced */




/**
* --------------------------------------------
*  START View Section / Tabs - Table - Tree
* --------------------------------------------
*/
.view-section {
  display: none;
  background: #fff;
  border-top: 5px solid #fff;
}

.view-section .tab-content {
  background: #f8f8f8;
  padding: 1rem 0 0;
  border:1px solid #ddd;
  border-width:0 1px;
}

.kmaps .view-section .tab-content{
  padding-top:0;
}

.kmaps .view-wrap .kmaps-tt-header:first-of-type{
  height: 35px !important;
  color:transparent;
  /* padding-top: 1rem; */
}

.kmaps .view-section .tab-content .tab-pane.listview{
  border-top: 10px solid #eee;
}

.kmaps .view-section .tab-content .tab-pane.treeview{
  padding-top:1rem;
}

.view-section .tab-content .tab-pane {
  padding: 0;
}

.view-section .nav-tabs {
  margin-top: 0 !important;
}

.view-section .nav-tabs>li {
  width: 35%;
  max-width: 130px;
  font-size: 1.06em;
  line-height: 1.5em;
  letter-spacing: 0.01rem;
}

.kmaps .view-section .nav-tabs>li.listview{
  width: 38%;
}

.kmaps .view-section .nav-tabs>li.treeview{
  width: 75%;
  max-width: 160px;
}

.view-section .nav-tabs>li>a {
  color: #777;
  font-size: 14px;
  line-height: 25px;
  margin-right: 2px;
  font-weight: bold;
  padding: 10px 0 5px 0;
  /* display:none prevents flash on load */
  display: none;
  text-align: center;
  background: #fcfcfc;
  border: 1px solid #eee;
  border-bottom-color: #ddd;
  border-top: 2px solid #ddd;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.view-section .nav-tabs>li>a:hover,
.view-section .nav-tabs>li>a:active {
  border-color: #ddd;
  border-top: 2px solid #ccc;
  color: #333;
  background: white;
}

.view-section .nav-tabs>li.active>a,
.view-section .nav-tabs>li.active>a:hover,
.view-section .nav-tabs>li.active>a:active {
  color: #444;
  font-size: 15px;
  background: #f8f8f8;
  text-decoration: none;
  border-color: #ddd;
  border-top: 2px solid #888;
  border-bottom-color: transparent;
}

.kmaps .view-section .nav-tabs>li.listview.active>a{
  background-color: #eee;
}

.view-section .nav-tabs>li> .icon {
  width: 16px;
  height: 16px;
}

.view-section .nav-tabs>li> a .icon::before {
  font-size: 13px;
  position: relative;
  top: 0;
  right: 5px;
}

.view-section .nav-tabs>li.active> a .icon::before {
  font-size: 15px;
  position: relative;
  top: 1px;
  right: 5px;
}

.view-section .nav-tabs>li.listview> a .icon::before{
  content: '\e624';
}

.view-section .nav-tabs>li.treeview> a .icon::before{

}

.view-section .listview>div,
.view-section .treeview>div {
  padding: 0;
  overflow: auto;
}

.view-section .listview>div {
  /*padding-top: 7px;*/
}

.view-section .treeview .tab-content {
  padding-top: 10px;
  padding-bottom: 0;
}
/*---- END tabs -----*/

/*---- START list table view ----*/
.view-section div.table-responsive {
  text-align: center;
  border: none;
  overflow: hidden;
}

.view-section table.table-results {
  border: none;
  font-size: 13px;
  line-height: 20px;
  margin: 0 2%;
  width: 96%;
  font-family: palatino,'Palatino Linotype',georgia,serif;
}

.view-section table.table-results a {
  font-style: italic;
}

.view-section table.table-results tr {
  margin-right: 0;
}

.view-section table.table-results tr.row_selected {
  background: #fff;
  box-shadow: 0 0 3px 0 #aaa;
  border-collapse: separate;
}

.view-section table.table-results>thead>tr>th {
  border-bottom: none;
  color: #333;
}

.view-section table.table-results>thead>tr {
  background: #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-top: 1px solid #ddd;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
}

.view-section table.table-results tbody>tr:nth-of-type(even) {
  background: #eee;
}

.view-section table.table-results tbody>tr:nth-of-type(odd) {
  background: #f5f5f5;
}

.view-section table.table-results tbody>tr:hover {
  background: #fff !important;
}

.view-section table.table-results tbody>tr:last-child {
  border-bottom: 1px solid #ddd;
}
/*
.view-section table.table-results > .ajax-progress {
  position: absolute;
  background-image: none;
}
*/
.view-section .table-results .progress-disabled ~ .ajax-progress:nth-of-type(1){
  height: 20px;
  width: 20px;
  /*background:transparent url('../images/ajax-loader.gif') no-repeat center center;*/
  position:absolute;
  display:inline-block;
  background:transparent;
  margin-top:-2.5rem;
  margin-left:-6rem;
}
/*
.view-section table.table-results tbody>tr.progress-disabled.row_selected {
  height: 20px;
  width: 20px;
  background:transparent url('../images/ajax-loader.gif') no-repeat center center;
  z-index: 501;
}
*/

.view-section table.table-results tbody>tr>td {
  cursor: pointer;
}

.view-section table.table-results tbody>tr>td,
.view-section table.table-results tbody>tr>td>div,
.view-section table.table-results tbody>tr>td>span {
  display: table-cell;
  white-space: nowrap;
  position: static;
  line-height: 20px;
  padding-bottom: 0.2rem;
  padding-left:0.5rem;
  text-align: left;
  width: 50% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-section table.table-results tbody>tr>td blockquote,
.view-section table.table-results tbody>tr>td quote {
  font-size: 0.5em !important;
}

.view-section .pagination {
  margin-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
  margin-right: -0.5em;
}

.view-section .pagination>li>a,
.view-section .pagination>li>span {
  padding: 0.5em 0.8em;
}
/* bottom text below table */
.view-section div#pager-header {
  font-size: 0.88em;
  padding: 0.2rem 0 0 2rem;
  text-align: left;
  color: #555;
}

/**
* search scrollbars full-length
*/
.text.ui-resizable::-webkit-scrollbar{
  width: 0;
}

.text.ui-resizable::-webkit-scrollbar-track{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);*/
}

.text.ui-resizable::-webkit-scrollbar-thumb{
  background-color: #aaa;
  cursor: pointer;
  width: 0.5rem;
}

.text.ui-resizable::-webkit-scrollbar-thumb:hover{
  background-color: #888;
}
/**
* search view-section scrollbars
*/
.view-section .view-wrap::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 1rem;
}

.view-section .view-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.view-section .view-wrap::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 1rem;
  width: 0.6rem;
}

.view-section .view-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
/**
* bootstrap-select scrollbars
*/
.bootstrap-select .dropdown-menu.selectpicker::-webkit-scrollbar{
  width: 0.5rem;
  border-radius: 0.8rem;
}

.bootstrap-select .dropdown-menu.selectpicker::-webkit-scrollbar-track{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);*/
}

.bootstrap-select .dropdown-menu.selectpicker::-webkit-scrollbar-thumb{
  background-color: #aaa;
  cursor: pointer;
  width: 0.5rem;
  border-radius: 0.8rem;
}

.bootstrap-select .dropdown-menu.selectpicker::-webkit-scrollbar-thumb:hover{
  background-color: #888;
}


/**
* Tooltip popovers
*/
.view-section .title-field {
  position: static;
  float: none;
}

.view-section .popover-content {
  font-family: sans-serif;
  font-size: smaller;
}

.view-section .popover-content > blockquote p {
  font-size: 13px;
}

.view-section .popover-content > blockquote {
  border-left: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.view-section .popover-content .kmapid-display,
.view-section .counts-display {
  display: block;
  float: right;
  clear: both;
  font-size: smaller;
  white-space: nowrap;
  margin-left: 0;
  margin-right: 0;
  color: #888;
}

.view-section .popover-content .info-wrap {
  min-width: 18em;
}

.view-section .popover-content .counts-display {
  display: block;
  height: 40px;
  padding: 5px;
}

.view-section .popover-content .kmap-caption p{
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}

.view-section .popover-title .kmapid-display {
  display: block;
  float: right;
  clear: both;
  font-size: 1em;
  white-space: nowrap;
  margin-left: 0;
  margin-right: 0;
  color: #888;
}

.view-section .popover-title .kmapid-display::before {
  color: #888;
}

.view-section .popover-content .badge {
  margin: 0 5px;
  position: relative;
  top: 19px;
  font-size: 10px;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  letter-spacing: 0.06em;
  border: 1px solid #c0c0c0;
  background: #f9f9f9;
  color: #444;
  padding: 2px 6px;
  line-height: 8px;
  height: 15px;
}

.view-section .popover-content span.associated {
  text-align: center;
  float: right;
  position: relative;
  top: -4px;
  height: 35px !important;
  margin: 0 0 5px 0;
  border-left: 1px solid #ddd;
}

.view-section .popover-content span.associated:first-child {
  margin-right: -15px;
}

.view-section .listview h3.popover-title {
  font-size: medium;
}

.view-section .popover-content span.associated i {
  font-size: 1.68em;
  position: absolute;
  bottom: 19px;
  color: #777;
  margin: 0 6px;
}
/**
* END View Table */



/**
* --------------------------
* START / Search Tree-Nav
* --------------------------
*/
.fancytree-container {
  margin: 0;
  background: transparent;
  border: none;
  background-color: transparent !important;
  border: none !important;
  font-family: 'droidserif',georgia,palatino,'Palatino Linotype',serif !important;
}

.fancytree-container ul {
  padding: 0 0 0 1rem !important;
  margin: 0;
}

.fancytree-container li {
  padding: 0;
  line-height: 1.68em;
  overflow: hidden;
  position: relative;
}

.fancytree-icon {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  /* remove checkbox */
  display: none;
}

.fancytree-node {
  border: 1px solid transparent !important;
  display: block;
}

.fancytree-node:hover,
.fancytree-node:active,
.fancytree-node.fancytree-active,
.fancytree-node.fancytree-selected,
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active {
  background: white !important;
  border-color: #eee !important;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active,
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active{
  border-color: #ccc !important;
}

.fancytree-node .ajax-progress{ position:absolute; right:0.6rem; background:transparent; /*padding-right:1rem;*/}
.fancytree-node.fancytree-has-children .ajax-progress{ right:0.1rem;}
/*
.fancytree-container li > .ajax-progress {
  position: absolute;
  left: 0;
  /----- top: 0.15rem;
  right: 0.1rem; ---------/
  background: transparent;
  padding: 0.1rem 0.5rem;
}
*/
.fancytree-title a {
  color: #444;
}

.fancytree-title a:hover,
.fancytree-title a:active {
  color: #111;
}

.fancytree-title {
  line-height: 1.68em;
  margin-left: 3px;
  height: 1.62em;
  /*box-sizing: content-box;*/
}

.fancytree-node .fancytree-expander{
  background-image: none !important;
}

.fancytree-exp-nl .fancytree-icon,
.fancytree-exp-nl .fancytree-expander,
.fancytree-exp-n .fancytree-icon,
.fancytree-exp-n .fancytree-expander{
  display:none;
}
/*
.fancytree-title:hover,
.fancytree-title:active {
  color: #111;
}
*/
.fancytree-title::before {
  background: #fff;
  color: transparent;
  font-family: 'shanticon';
  content: '\e625';
  font-size: 1em;
  float: left;
  position: relative;
  top: 0.6rem;
  right: 0.25rem;
  border-radius: 50%;
  background-clip: padding-box;
  width: 9px;
  height: 9px;
  display: block;
  margin-right: 7px;
  box-shadow: 0 0 2px 1px #aaa;
  border-collapse: separate;
}

.fancytree-title:hover::before {
  background: #777;
  box-shadow: none;
}

.fancytree-statusnode-wait .fancytree-title::before,
.fancytree-statusnode-error .fancytree-title::before {
  width: 0;
  height: 0;
  display: none;
  color: transparent;
  box-shadow: none;
  background: transparent;
}

.fancytree-has-children>span.fancytree-title {
  padding-left: 0px;
  margin-left: -25px;
}

.fancytree-has-children span.fancytree-title::before {
  content: none;
  position: relative;
  top: 0;
}

.fancytree-active .fancytree-title,
.fancytree-selected .fancytree-title {
  color: #000;
}

.fancytree-active.fancytree-has-children .fancytree-title::before,
.fancytree-selected.fancytree-has-children .fancytree-title::before {
  content: none;
  text-shadow: none;
  display: none;
}

.fancytree-active .fancytree-title::before,
.fancytree-selected .fancytree-title::before {
  background: #888;
  box-shadow: none;
}

.fancytree-container .glyphicon {
  color: #666;
  font-family: 'Glyphicons Halflings';
  font-size: 15px;
  margin-right: 12px;
  position: relative;
  top: 4px;
}

.fancytree-node:hover > .glyphicon {
  color: #888;
}

.fancytree-node.fancytree-active:active > .glyphicon,
.fancytree-node.fancytree-active .glyphicon,
.fancytree-node.fancytree-selected:active > .glyphicon,
.fancytree-node.fancytree-selected .glyphicon {
  color: #666;
  background: transparent;
}
/*--- hihglight search text ---*/
/*.view-section span.fancytree-title > em,
.view-section mark {
    color: #ff0;
    font-style: normal;
    padding: 0;
    background: transparent;
}
*/
/**
*** END treeview */



/**
* Search Loading
*/
#search-flyout .overlay-mask {
  position: absolute;
  z-index: 310;
  background: #fff;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  20% {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  100% {
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@keyframes loading-text-opacity {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  20% {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  50% {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  100% {
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

.loading-container,
.loading {
  height: 150px;
  position: relative;
  left: 2.7rem;
  width: 15rem;
  border-radius: 100%;
  background-clip: padding-box;
  z-index: 320;
}

.loading-container {
  position: relative;
  top: 22rem;
  margin: 0 auto;
}

.loading {
  border: 2px solid transparent;
  border-color: transparent #aaa transparent #aaa;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading {
  border-color: transparent #999 transparent #999;
}

.loading-container:hover .loading,
.loading-container .loading {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#loading-text {
  -webkit-animation: loading-text-opacity 1s linear 0s infinite normal;
  animation: loading-text-opacity 1s linear 0s infinite normal;
  color: #333;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  font-size: 1.18em;
  text-transform: capitalize;
  font-weight: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  top: -10px;
  left: 40px;
  width: 120px;
}
/**
*** END search loading */


/**
* BEGIN tooltip popover on search view-section
*/
.search-popover {
  display: none;
  border: 1px solid #ddd;
}

.search-popover > .popover-title {
  background: #f0f0f0;
  font-size: 0.88em;
  line-height: 1.12em;
  padding: 12px 12px 7px;
  position: relative;
  font-family: 'museo-sans-500',helvetica,arial,sans-serif;
  font-weight: normal;
}

.search-popover > .popover-title .kmapid-display {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 0.75em;
  white-space: nowrap;
  margin: 0;
  color: #707070;
}

.search-popover > .popover-title .kmapid-display::before {
 /* content: '' */
}

.search-popover > .popover-content {
  font-family: 'museo-sans-500',helvetica,arial,sans-serif;
  font-size: 0.75em;
  padding-top: 5px 12px;
}

.search-popover > .popover-content .kmap-caption p {
  padding: 0 8px;
  margin: 5px 0 0;
  font-size: 1.18em;
  border-left: 4px solid #f0f0f0;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.search-popover > .popover-content > .kmap-path {
  display: inline;
  font-size: 0.93em;
  line-height: 1em;
  word-break: break-all;
}

.search-popover > .counts-display {
  display: block;
  float: right;
  clear: both;
  white-space: nowrap;
  margin-left: 0;
  margin-right: 0;
  color: #888;
}

.search-popover > .popover-content .info-wrap {
  min-width: 18em;
}

.search-popover > .popover-content .counts-display {
  display: block;
  height: 4.12em;
  padding: 5px;
  margin-top: 2px;
}

.search-popover > .popover-content .badge {
  margin: 0 5px;
  position: relative;
  top: 22px;
  font-size: 0.88em;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  line-height: 1.18em;
  height: 1.56em;
  letter-spacing: 0.06em;
  border: 1px solid #c0c0c0;
  background: #f9f9f9;
  color: #111;
  padding: 1px 6px;
  font-weight: normal;
}

.search-popover > .popover-content .associated {
 /* background:#f0f0f0; */
  text-align: center;
  float: right;
  position: relative;
  top: 5px;
  height: 36px;
  margin: 0 0 5px 0;
  border-left: 1px solid #ddd;
}

.search-popover > .popover-content .associated:first-child {
  margin-right: -17px;
}

.search-popover > .popover-content .associated i {
  font-size: 1.56em;
  position: absolute;
  bottom: 17px;
  color: #808080;
  margin: 0 0 0 7px;
}

.popover.left{
  margin-left: -1.5rem;
}
/**
*** END View Section */

/* ---------------- */
/* END SEARCH PANEL */
/* ---------------- */







/* target kmaps-typeahead-picker = kmap-search-term input */
.input-section .kmap-typeahead-picker .twitter-typeahead{
  display: block;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.input-section .kmap-search-term{
  background-color: #fff !important;
  border-radius: 2em;
  font-size: 1.06em;
  height: 35px;
  max-width:100%;
  padding-left: 3rem;
}

.input-section .kmap-search-filter{
  max-width: 30rem;
}

.input-section .kmap-filter:first-of-type{
  /* margin-top: 1.5rem;
  padding-top: .1rem;*/
  border-top: 1px solid #ddd;
}

.input-section .kmap-filter:last-of-type .kmap-filter-box{
  padding-bottom: 2rem
}

.input-section .search-filters{
  padding: 0 1.5rem;
}

.view-wrap .kmaps-tt-suggestion:hover:not(.kmaps-tt-selected):not(.kmaps-tt-zero-facet){
    background-color: #4aa1f3 !important;
}

.view-wrap .kmaps-tt-suggestion:hover .kmaps-count,
.view-wrap .kmaps-tt-suggestion:hover .kmaps-term,
.view-wrap .kmaps-tt-suggestion:hover .kmaps-ancestors{
    color:#fff !important;
}

.view-wrap .kmaps-tt-header:first-of-type,
.view-wrap .kmaps-tt-footer.kmaps-tt-results{
  border-radius:0;
}

.view-wrap .kmaps-tt-suggestion{
  margin-left:0;
  padding: 3px 12px;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}

.view-wrap .kmaps-tt-dataset .kmaps-tt-suggestion:nth-chld(1){
  padding-top:1rem;
}

.view-wrap .kmaps-tt-suggestion .kmaps-term{
  color: #505050 !important;
  font-weight: bold;
}

.view-wrap .kmaps-tt-suggestion .kmaps-ancestors{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  line-height: 1.32rem;
  font-weight: normal !important;
  color: #333 !important;
}


/**
* -----------------------------------------------
* KMaps target - temp
* -----------------------------------------------
*/

.kmaps .input-section .search-group {
  height:auto;
  padding-bottom: 1rem;
}

.kmaps.page-places .input-section .search-group {
  padding-bottom: 0;
} 





/**
*
* END - Sarvaka/css/shanti-main.css
*
*/
