/* ---------------------------------------------
 * SHANTI Default plugins
 * ---------------------------------------------
 * NAV: Multilevelpushmenu
 * SEARCH: Extruder Panel
 * FORMS: Boostrap Select
 * FORMS: iCheck
 * ----------------------------*/


.multilevelpushmenu_wrapper {
	position: absolute;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.multilevelpushmenu_wrapper .levelHolderClass {
	position: absolute;
	overflow: hidden;
	top: 0;
	background: #336ca6;
	width: auto;
	min-height: 100%;
	/* font-family: 'Open Sans Condensed', sans-serif; */
	font-size: 1em;
	zoom: 1;
}

.multilevelpushmenu_wrapper .ltr {
	margin-left: -100%;
	left: 0;
	-moz-box-shadow: 5px 0 5px -5px #1f4164;
	-webkit-box-shadow: 5px 0 5px -5px #1f4164;
	box-shadow: 5px 0 5px -5px #1f4164;
}

.multilevelpushmenu_wrapper .rtl {
	margin-right: -100%;
	right: 0;
	-moz-box-shadow: 5px 0 5px 5px #1f4164;
	-webkit-box-shadow: 5px 0 5px 5px #1f4164;
	box-shadow: 5px 0 5px 5px #1f4164;
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
	background: #2e6196;
}

.multilevelpushmenu_wrapper h2 {
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
	color: #1f4164;
	padding: 0 .4em 0 .4em;
}

.multilevelpushmenu_wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.multilevelpushmenu_wrapper li {
	cursor: pointer;
	border-top: 1px solid #295685;
	padding: .4em .4em .4em .4em;
}

.multilevelpushmenu_wrapper li:last-child {
	border-bottom: 1px solid #295685;
}

.multilevelpushmenu_wrapper li:hover {
	background-color: #295685;
}

.multilevelpushmenu_wrapper a {
	display: block;
	outline: none;
	overflow: hidden;
	font-size: 1.5em;
	line-height: 1em;
	padding: .2em .2em;
	text-decoration: none;
	color: #fff;
}

.multilevelpushmenu_wrapper a:hover {
	color: #ffe;
}

.multilevelpushmenu_wrapper .backItemClass {
	display: block;
	padding: .4em .4em .4em .4em;
	background: #2e6196;
	border-top: 1px solid #295685;
}

.multilevelpushmenu_wrapper .floatRight {
	float: right;
}

.multilevelpushmenu_wrapper .floatLeft {
	float: left;
}

.multilevelpushmenu_wrapper .cursorPointer {
	cursor: pointer;
}

.multilevelpushmenu_wrapper .iconSpacing_ltr {
	padding: 0 .4em 0 0;
}

.multilevelpushmenu_wrapper .iconSpacing_rtl {
	padding: 0 0 0 .4em;
}

/*----------------------*/
/***** END Top Menu ******/
/*----------------------*/



/*-----------------------------------------*/
/***** START Extruder for Search Panel ******/
/*-----------------------------------------*/
/*--- KMAP plugin ops --- MIT GPL Copyright(c)2001-2014 /www_pupunzi_com Matteo Bicocchi * last modified: 07/01/14 ---*/
.extruder{position:fixed;cursor:default;background:image-url("shanti_integration/extruder/extruder_blank.png")}.extruder .header{height:27px}.extruder .extruder-content{display:none;background:#000}.extruder.open .extruder-content{-moz-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999;}.extruder .footer{display:none;height:10px;background:#000;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999;}.extruder.top .flap{color:#fff;font:18px/28px Arial,Helvetica,sans-serif;text-align:center;display:block;margin:auto;padding:0 5px 5px 5px;height:30px;width:180px;background:#000;cursor:pointer;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999;text-shadow:2px 2px 2px #333}.extruder.top .extruder-content{border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px}.extruder.bottom .flap{position:relative;color:white;font:18px/28px Arial,Helvetica,sans-serif;text-align:center;display:block;margin:auto;margin-top:1px;padding:0 5px 5px 5px;height:30px;width:180px;background:#000;cursor:pointer;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;text-shadow:2px 2px 2px #333;-moz-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999;}.extruder.bottom .footer{border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;position:relative;margin-top:-5px}.extruder.bottom .extruder-content{border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0}.extruder.bottom .ext_wrapper{bottom:0}.extruder.left{height:100%;background:url("../js/inc/extruder/images/extruder_blank.png")}.extruder.left.open .extruder-content{-moz-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999;}.extruder.left .extruder-content{border-right:3px solid #000}.extruder.left .ext_wrapper{height:100%}.extruder.left .footer{display:none}.extruder.left .flap{font-size:18px;color:white;top:0;padding:10px 0 10px 10px;margin-right:-37px;background:#000;width:30px;position:absolute;right:0;border-top-left-radius:0;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999;box-shadow:2px 0 5px #999;}.extruder.left .flap .flapLabel{background:#000}.extruder.right{height:100%;background:url("../js/inc/extruder/images/extruder_blank.png")}.extruder.right .extruder-content{border-left:3px solid #000}.extruder.right.open .extruder-content{-moz-box-shadow:-2px 0 5px #999;box-shadow:-2px 0 5px #999;}.extruder.right .ext_wrapper{height:100%;right:0}.extruder.right .footer{display:none}.extruder.right .flap{font-size:18px;color:white;top:0;padding:10px 0 10px 10px;background:#000;width:30px;position:absolute;left:-37px;border-top-left-radius:8px;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:0;-moz-box-shadow:-2px 0 5px #999;box-shadow:-2px 0 5px #999;}.extruder.right .flap .flapLabel{background:#000}.extruder .voice{font:18px/24px Arial,Helvetica,sans-serif;color:white;padding:5px;padding-left:10px;height:27px;border-bottom:1px solid #333;text-shadow:2px 2px 2px #333}.extruder .voice:last-child{border-bottom:0}.extruder .voice .disabled{cursor:default}.extruder .text{background:#222;font:14px/16px Arial,Helvetica,sans-serif;color:gray;padding:10px;border-bottom:1px solid #333;text-shadow:2px 2px 2px #333}.extruder .voice.hover{background:url("../js/inc/extruder/images/extruder_voiceHover.png") no-repeat top}.extruder .voice.sel{background:url("../js/inc/extruder/images/extruder_voiceHover.png") no-repeat top}.extruder .voice img{float:left;margin-right:15px}.extruder .voice a.label{display:block;height:30px;color:white;padding-top:0;text-decoration:none}.extruder .voice span.label{display:block;height:30px;color:#d0cfcf;padding-top:0;text-decoration:none}.extruder .voice{position:relative}.extruder .settingsBtn{display:block;position:absolute;width:36px;height:36px;background:url("../js/inc/extruder/images/settingsBtn.png") no-repeat bottom;cursor:pointer;right:-3px;top:-4px}.extruder .optionsPanel{background:url("../js/inc/extruder/images/fuzz.gif");display:none;border-bottom:1px solid #333}.extruder .voice.sel{background:url("../js/inc/extruder/images/extruder_voiceHover.png") no-repeat top}.optionsPanel .panelVoice a{text-decoration:none;display:block;color:#ccc;padding:8px;padding-left:20px;font-size:16px;text-shadow:2px 2px 2px #333;border-bottom:1px solid #000;cursor:pointer}.optionsPanel .panelVoice a:hover{color:#fff;background:url("../js/inc/extruder/images/red_op_50.png")}:focus{outline:0}
/*-----------------------------------------*/
/***** END Extruder for Search Panel ******/
/*-----------------------------------------*/



/*-------------------------------------------*/
/***** START Bootstrap Select Form Menu ******/
/*-------------------------------------------*/
/* bootstrap-select v1.5.4 http://silviomoreto.github.io/bootstrap-select/ */
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="span"] {
  float:none;
  display:inline-block;
  margin-bottom:10px;
  margin-left:0;
  position: relative;
  margin-top: -13.9%;
}
.form-search .bootstrap-select.btn-group,.form-inline .bootstrap-select.btn-group,.form-horizontal .bootstrap-select.btn-group{margin-bottom:0}.bootstrap-select.form-control{margin-bottom:0;padding:0;border:0}.bootstrap-select.btn-group.pull-right,.bootstrap-select.btn-group[class*="span"].pull-right,.row-fluid .bootstrap-select.btn-group[class*="span"].pull-right{float:right}.input-append .bootstrap-select.btn-group{margin-left:-1px}.input-prepend .bootstrap-select.btn-group{margin-right:-1px}.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:220px}.bootstrap-select{width:220px\0}.bootstrap-select.form-control:not([class*="span"]){width:100%}.bootstrap-select>.btn{width:100%;padding-right:25px}.error .bootstrap-select .btn{border:1px solid #b94a48}.bootstrap-select.show-menu-arrow.open>.btn{z-index:2051}.bootstrap-select .btn:focus{outline:thin dotted #333 !important;outline:5px auto -webkit-focus-ring-color !important;outline-offset:-2px}.bootstrap-select.btn-group .btn .filter-option{display:inline-block;overflow:hidden;width:100%;float:left;text-align:left}.bootstrap-select.btn-group .btn .caret{position:absolute;top:50%;right:12px;margin-top:-2px;vertical-align:middle}.bootstrap-select.btn-group>.disabled,.bootstrap-select.btn-group .dropdown-menu li.disabled>a{cursor:not-allowed}.bootstrap-select.btn-group>.disabled:focus{outline:none !important}.bootstrap-select.btn-group[class*="span"] .btn{width:100%}.bootstrap-select.btn-group .dropdown-menu{min-width:100%;z-index:2000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bootstrap-select.btn-group .dropdown-menu.inner{position:static;border:0;padding:0;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.bootstrap-select.btn-group .dropdown-menu dt{display:block;padding:3px 20px;cursor:default}.bootstrap-select.btn-group .div-contain{overflow:hidden}.bootstrap-select.btn-group .dropdown-menu li{position:relative}.bootstrap-select.btn-group .dropdown-menu li>a.opt{position:relative;padding-left:35px}.bootstrap-select.btn-group .dropdown-menu li>a{cursor:pointer}.bootstrap-select.btn-group .dropdown-menu li>dt small{font-weight:normal}.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark{position:absolute;display:inline-block;right:15px;margin-top:2.5px}.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{display:none}.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{margin-right:34px}.bootstrap-select.btn-group .dropdown-menu li small{padding-left:.5em}.bootstrap-select.btn-group .dropdown-menu li:not(.disabled)>a:hover small,.bootstrap-select.btn-group .dropdown-menu li:not(.disabled)>a:focus small,.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled)>a small{color:#64b1d8;color:rgba(255,255,255,0.4)}.bootstrap-select.btn-group .dropdown-menu li>dt small{font-weight:normal}.bootstrap-select.show-menu-arrow .dropdown-toggle:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #CCC;border-bottom-color:rgba(0,0,0,0.2);position:absolute;bottom:-4px;left:9px;display:none}.bootstrap-select.show-menu-arrow .dropdown-toggle:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid white;position:absolute;bottom:-4px;left:10px;display:none}.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before{bottom:auto;top:-3px;border-top:7px solid #ccc;border-bottom:0;border-top-color:rgba(0,0,0,0.2)}.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after{bottom:auto;top:-3px;border-top:6px solid #fff;border-bottom:0}.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before{right:12px;left:auto}.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after{right:13px;left:auto}.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before,.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after{display:block}.bootstrap-select.btn-group .no-results{padding:3px;background:#f5f5f5;margin:0 5px}.bootstrap-select.btn-group .dropdown-menu .notify{position:absolute;bottom:5px;width:96%;margin:0 2%;min-height:26px;padding:3px 5px;background:#f5f5f5;border:1px solid #e3e3e3;box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);pointer-events:none;opacity:.9;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mobile-device{position:absolute;top:0;left:0;display:block !important;width:100%;height:100% !important;opacity:0}.bootstrap-select.fit-width{width:auto !important}.bootstrap-select.btn-group.fit-width .btn .filter-option{position:static}.bootstrap-select.btn-group.fit-width .btn .caret{position:static;top:auto;margin-top:-1px}.control-group.error .bootstrap-select .dropdown-toggle{border-color:#b94a48}.bootstrap-select-searchbox,.bootstrap-select .bs-actionsbox{padding:4px 8px}.bootstrap-select .bs-actionsbox{float:left;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bootstrap-select-searchbox+.bs-actionsbox{padding:0 8px 4px}.bootstrap-select-searchbox input{margin-bottom:0}.bootstrap-select .bs-actionsbox .btn-group button{width:50%}
.bootstrap-select.btn-group:not(.input-group-btn),.bootstrap-select.btn-group[class*="span"]{float:none;display:inline-block;margin-bottom:10px;margin-left:0}
/*-------------------------------------------*/
/***** END Bootstrap Select Form Menu ******/
/*-------------------------------------------*/





/*-----------------------------------------------------------------------------*/
/***** START graphic form element replacement iCheck plugin Minimal skin ******/
/*---------------------------------------------------------------------------*/

/* iCheck plugin Minimal skin
----------------------------------- */

/* DEFAULT */
.icheckbox_minimal-red,
.iradio_minimal-red {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: image-url("shanti_integration/check/grey.png") no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox_minimal-red {
    background-position: 0 0;
}
    .icheckbox_minimal-red.hover {
        background-position: -20px 0;
    }
    .icheckbox_minimal-red.checked {
        background-position: -40px 0;
    }
    .icheckbox_minimal-red.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal-red.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal-red {
    background-position: -100px 0;
}
    .iradio_minimal-red.hover {
        background-position: -120px 0;
    }
    .iradio_minimal-red.checked {
        background-position: -140px 0;
    }
    .iradio_minimal-red.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal-red.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_minimal-red,
    .iradio_minimal-red {
        background-image: image-url("shanti_integration/check/grey@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}



/* SUBJECTS */

.page-subjects .icheckbox_minimal-red,
.page-subjects .iradio_minimal-red {
    background: image-url("shanti_integration/check/subjects.png") no-repeat;
}

.page-subjects .icheckbox_minimal-red {
    background-position: 0 0;
}
    .page-subjects .icheckbox_minimal-red.hover {
        background-position: -20px 0;
    }
    .page-subjects .icheckbox_minimal-red.checked {
        background-position: -40px 0;
    }
    .page-subjects .icheckbox_minimal-red.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .page-subjects .icheckbox_minimal-red.checked.disabled {
        background-position: -80px 0;
    }

.page-subjects .iradio_minimal-red {
    background-position: -100px 0;
}
    .page-subjects .iradio_minimal-red.hover {
        background-position: -120px 0;
    }
    .page-subjects .iradio_minimal-red.checked {
        background-position: -140px 0;
    }
    .page-subjects .iradio_minimal-red.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .page-subjects .iradio_minimal-red.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .page-subjects .icheckbox_minimal-red,
    .page-subjects .iradio_minimal-red {
        background-image: image-url("shanti_integration/check/subjects@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}



.page-places .icheckbox_minimal-red,
.page-places .iradio_minimal-red {
    background: image-url("shanti_integration/check/places.png") no-repeat;
}

.page-places .icheckbox_minimal-red {
    background-position: 0 0;
}
    .page-places .icheckbox_minimal-red.hover {
        background-position: -20px 0;
    }
    .page-places .icheckbox_minimal-red.checked {
        background-position: -40px 0;
    }
    .page-places .icheckbox_minimal-red.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .page-places .icheckbox_minimal-red.checked.disabled {
        background-position: -80px 0;
    }

.page-places .iradio_minimal-red {
    background-position: -100px 0;
}
    .page-places .iradio_minimal-red.hover {
        background-position: -120px 0;
    }
    .page-places .iradio_minimal-red.checked {
        background-position: -140px 0;
    }
    .page-places .iradio_minimal-red.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .page-places .iradio_minimal-red.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .page-places .icheckbox_minimal-red,
    .page-places .iradio_minimal-red {
        background-image: image-url("shanti_integration/check/places@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}



.audio-video .icheckbox_minimal-red,
.audio-video .iradio_minimal-red {
    background: image-url("shanti_integration/check/audio-video.png") no-repeat;
}

.audio-video .icheckbox_minimal-red {
    background-position: 0 0;
}
    .audio-video .icheckbox_minimal-red.hover {
        background-position: -20px 0;
    }
    .audio-video .icheckbox_minimal-red.checked {
        background-position: -40px 0;
    }
    .audio-video .icheckbox_minimal-red.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .audio-video .icheckbox_minimal-red.checked.disabled {
        background-position: -80px 0;
    }

.audio-video .iradio_minimal-red {
    background-position: -100px 0;
}
    .audio-video .iradio_minimal-red.hover {
        background-position: -120px 0;
    }
    .audio-video .iradio_minimal-red.checked {
        background-position: -140px 0;
    }
    .audio-video .iradio_minimal-red.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .audio-video .iradio_minimal-red.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .audio-video .icheckbox_minimal-red,
    .audio-video .iradio_minimal-red {
        background-image: image-url("shanti_integration/check/audio-video@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}



.texts .icheckbox_minimal-red,
.texts .iradio_minimal-red {
    background: image-url("shanti_integration/check/texts.png") no-repeat;
}

.texts .icheckbox_minimal-red {
    background-position: 0 0;
}
    .texts .icheckbox_minimal-red.hover {
        background-position: -20px 0;
    }
    .texts .icheckbox_minimal-red.checked {
        background-position: -40px 0;
    }
    .texts .icheckbox_minimal-red.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .texts .icheckbox_minimal-red.checked.disabled {
        background-position: -80px 0;
    }

.texts .iradio_minimal-red {
    background-position: -100px 0;
}
    .texts .iradio_minimal-red.hover {
        background-position: -120px 0;
    }
    .texts .iradio_minimal-red.checked {
        background-position: -140px 0;
    }
    .texts .iradio_minimal-red.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .texts .iradio_minimal-red.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .texts .icheckbox_minimal-red,
    .texts .iradio_minimal-red {
        background-image: image-url("shanti_integration/check/texts@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}



.images .icheckbox_minimal-red,
.images .iradio_minimal-red {
    background: image-url("shanti_integration/check/images.png") no-repeat;
}

.images .icheckbox_minimal-red {
    background-position: 0 0;
}
    .images .icheckbox_minimal-red.hover {
        background-position: -20px 0;
    }
    .images .icheckbox_minimal-red.checked {
        background-position: -40px 0;
    }
    .images .icheckbox_minimal-red.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .images .icheckbox_minimal-red.checked.disabled {
        background-position: -80px 0;
    }

.images .iradio_minimal-red {
    background-position: -100px 0;
}
    .images .iradio_minimal-red.hover {
        background-position: -120px 0;
    }
    .images .iradio_minimal-red.checked {
        background-position: -140px 0;
    }
    .images .iradio_minimal-red.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .images .iradio_minimal-red.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .images .icheckbox_minimal-red,
    .images .iradio_minimal-red {
        background-image: image-url("shanti_integration/check/images@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}



.sources .icheckbox_minimal-red,
.sources .iradio_minimal-red {
    background: image-url("shanti_integration/check/sources.png") no-repeat;
}

.sources .icheckbox_minimal-red {
    background-position: 0 0;
}
    .sources .icheckbox_minimal-red.hover {
        background-position: -20px 0;
    }
    .sources .icheckbox_minimal-red.checked {
        background-position: -40px 0;
    }
    .sources .icheckbox_minimal-red.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .sources .icheckbox_minimal-red.checked.disabled {
        background-position: -80px 0;
    }

.sources .iradio_minimal-red {
    background-position: -100px 0;
}
    .sources .iradio_minimal-red.hover {
        background-position: -120px 0;
    }
    .sources .iradio_minimal-red.checked {
        background-position: -140px 0;
    }
    .sources .iradio_minimal-red.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .sources .iradio_minimal-red.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .sources .icheckbox_minimal-red,
    .sources .iradio_minimal-red {
        background-image: image-url("shanti_integration/check/sources@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}

/*-----------------------------------------------*/
/***** END graphic form element replacement ******/
/*-----------------------------------------------*/


/**
* 
* END - Sarvaka/css/utils.css
*
*/


