/* --- SHANTI at UVa --- nav-css */
#nav ul{ list-style:none;  margin-top:3px;  margin-left:12px;  font-family:"Trebuchet MS","Lucida Grande",Helvetica,Arial,sans-serif}
#nav ul li, .navigation-bar ul li{ font-size:.75em;  font-weight:bold}
.navigation-bar ul li a, 
.navigation-bar ul li a:link{ padding:5px 9px 15px;  color:#645c4c;  text-decoration:none}
.navigation-bar ul li a:hover{ background-color:#cfc5b0}
#nav ul li{ float:left}
#nav ul li a{ display:block;  text-decoration:none;  padding:4px 10px 15px;  margin:1px 4px 0 1px;  border-bottom:none;  height:17px}
#nav ul li a, #nav ul li a:visited{ color:#645c4c}
#nav ul li.first a{ color:#333}

/* page-news tab link needed */
.news-blog #nav ul li.page-item-400 a, 
#nav ul li.current_page_item a, 
#nav ul li.current_page_ancestor a{ color:#efefef; font-size:1em; margin:0 3px 0 0; border:1px solid #e7e1d7; border-bottom:none; background:url(../images/bg_nav_wrapper_tabs.png) no-repeat center top; }
#ie-root #nav ul li.current_page_item a, #ie-root #nav ul li.current_page_ancestor a{ font-size:.92em; }

#nav ul li a:hover{    background:url(../images/bg_nav_wrapper_tabs.png) no-repeat center bottom;     margin:0 3px 0 0;     border:1px solid #e7e1d7;     border-bottom:none;     color:#5e5748;     font-size:1em}
#nav ul li a:active{color:#efefef;     background:url(../images/bg_nav_wrapper_tabs.png) no-repeat center top}

#nav-wrapper{    background:url(../images/bg_nav_wrapper.png) repeat-x left bottom;  border-top:2px solid #ccc;  border-bottom:none}

/* secondary nav */
#secondary-nav{    padding-left:10px;     background:url(../images/bg_secondary_nav_tile.gif) repeat-x left bottom;  margin:5px 0 15px 0;  font-size:90%;  font-family:"Lucida Grande","Trebuchet MS",arial,helvetica}

/* breaks TinyMCE
#secondary-nav span{padding:6px 18px 0px 0px}
*/
#secondary-nav ul{    overflow:hidden;     list-style:none;     padding-top:0px}

#secondary-nav ul li{    float:left;     font-weight:bold;     margin-bottom:-1px}

#secondary-nav ul li a{    display:block;     text-decoration:none;     color:#fff;     padding:5px 18px 5px;     margin-right:3px;     background:#568ea7 url(../images/tab-corner.gif) no-repeat scroll right top}

#secondary-nav ul li a:hover, 
#secondary-nav ul li.current_page_item a, 
#secondary-nav ul li.current_page_ancestor a{    background:#265b79 url(../images/tab-corner-select.gif) no-repeat scroll right top;     color:#fff}

#sidebar ul{margin:0px}
#sidebar ul.bullets li{background:url(../images/list-round-o.gif) no-repeat left 6px; font-size:1em; margin-left:0px; padding-left:15px}
#sidebar ul.bullets li ul li{background:url(../images/list-blue4sq.gif) no-repeat left 7px; padding-left:11px}

#sidebar ul li a, #sidebar ul li a:visited{color:#094b7a; padding-bottom:0px; padding-left:0px;  padding-right:3px; margin-left:1px; text-decoration:none; font-size:110%; line-height:160%; font-family:Arial,Helvetica,sans-serif}
#sidebar ul li a:hover, #sidebar ul li ul li a:hover{text-decoration:none; border-bottom:1px solid #094b7a}
#sidebar ul li.current_page_item a, #sidebar ul li.current-cat a{border-bottom:1px solid #094b7a}
#sidebar ul li.current_page_item ul li a{border-bottom-width:0px}

