/* --- SHANTI at the University of Virginia --- style-css */
/* --- Page Structure -------------------*/
#main{padding-top:10px}
#masthead, #main{ width:918px; margin:0 auto; } /* masthead, main moved to fathom.css */

#main-content-wrapper{ margin:0 auto;}
#main{ margin:0 auto; width:920px;}


#masthead-wrapper{ background: image-url('shanti_integration/bg_masthead_tile.png') repeat-x left top;}
#masthead{ clear:both; min-height:79px; height:79px; width:920px; background: image-url('shanti_integration/banner-shanti.png') no-repeat 10px top; }

#main-content-wrapper{ padding:20px 0 190px;  border-bottom:3px solid #332b1b; background:#f7f6f0 image-url('shanti_integration/bg_main_wrapper_tile.png') repeat-x left top;  color:#332b1b;  font-size:13px;  min-height:100%; height:auto !important; height:100%; /* this forces the footer down on pages without much content */}

/*----- body-details */
/*--- this list was originally targeting #interests-tab  --- i opened it up for targeting #profile-tab and other pages if needed */
#main-content dl{}
#main-content dl dt{color:#5a4722;line-height:normal; font-size-adjust:none; font-stretch:normal; letter-spacing:normal; margin:9px 0 -5px 0; font-weight:bold; font-family: "Times New Roman",Times,serif;font-size:1.58em; margin-bottom:4px; margin-top:25px;}
#main-content dl dd em{ font-size:10px; font-style:italic;}

/* --- Headings -----------
--------------------------*/
h1, h2, h3, h4, h5, h6 {color:#5a4722; font-family:"Trebuchet MS",arial,verdana,sans-serif; font-weight:normal; line-height:normal; font-size-adjust:none; font-stretch:normal; letter-spacing:normal;}
h2, h4 {font-family: Georgia,"Times New Roman",Times,serif;}
h2 {font-size: 1.39em; padding-top:10px; font-weight:bold; color:#404040;}
h3 {font-size: 1.5em; font-weight:bold; font-family: "Times New Roman",Times,serif;}
h4 {font-size:.85em; }
h5 {font-size:.9em; font-weight:normal;}
h6 {}

h1{ font-size:1.75em;font-family:"Lucida Grande","Trebuchet MS",arial,verdana,sans-serif;}
h1#logo{height:60px;  width:540px; float:left; display:inline; font-size:0.1em; border-width:0pt; text-indent:-9999px;  margin-top:0;  /* background: image-url('shanti_integration/logo.gif') no-repeat right top; margin:11px 20px 0; */}
h1#logo a{ display:block;  height:60px;  width:540px; margin-top:10px; font-size:0.1em; border-width:0pt; text-indent:-9999px}



