<div id="footer-wrapper">
	<div id="footer">
		<a id="cat4" title="Design by Category 4" target="_blank" href="http://www.category4.com">Designed by Category 4</a>
		<a id="performant" title="Code by Performant Software Solutions" target="_blank" href="http://www.performantsoftware.com">Code by Performant Software Solutions</a>
		<p>&copy; 2008 by the Rector and Visitors of the University of Virginia</p>
		<p>Maintained by SHANTI at the University of Virginia  |  <a href="http://shanti.virginia.edu/wordpress/?page_id=560">Contact Us</a></p>
	</div><!--END FOOTER-->
</div><!--END FOOTER-WRAPPER-->