<div id="footer-wrapper">
	<div id="footer">
		<p>&copy; 2012 by the Rector and Visitors of the University of Virginia</p>
		<p>Maintained by SHANTI at the University of Virginia  |  <a href="http://shanti.virginia.edu/wordpress/?page_id=560">Contact Us</a></p>
	</div><!--END FOOTER-->
</div><!--END FOOTER-WRAPPER-->